.topbar-appBar {
  height: 60px; /* Thêm đơn vị đo lường */
  display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con */
  align-items: center; /* Canh chỉnh các phần tử con theo trục dọc */
  background-color: #2196f3;
}

.topbar-title {
  flex-grow: 1; /* Mở rộng tiêu đề để lấp đầy không gian trống */
  margin-left: 20px;
}

.topbar-right {
  margin-right: 20px;
}
